MONGODB_URI=mongodb://localhost:27017/test
MONGOLAB_URI=mongodb://localhost:27017/test

SESSION_SECRET=supersecret

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

FACEBOOK_ID=123
FACEBOOK_SECRET=456

GOOGLE_ID=123.apps.googleusercontent.com
GOOGLE_SECRET=456

STRIPE_SKEY=sk_test_123
STRIPE_PKEY=pk_test_456
