extends layout

block content
  // div(style="background: url('/images/background.jpg') bottom center no-repeat; background-size: cover;")
  .container.divbleu.main-block
    .row
      .col-sm-4.text-center
        .spacer10vh
        h1.textlightgrey Main title
        h3.textlightgrey Subtitle
      .col-sm-8
        .spacer10vh
          img.img-gif(src='/images/landing.png')

  .container.width100
    .spacer80
    .row
      .col-sm-12
        .smallseparator
          h2
            span Awesome&nbsp;
            | benefits
    .row
      .col-sm-4.text-center
        h3 Win
        p.content-block It has great words
      .col-sm-4.text-center
        h3 Awesomer
        p.content-block It wins bigly
      .col-sm-4.text-center
        h3 Awesomerer
        p.content-block It has magnificent hands

  .container.width100
    .spacer80
    .row
      .col-sm-12.text-center
        h1
          span Contact&nbsp;
          | us
        h4 We'd love to&nbsp;
          a(href='/contact') hear from you
