extends layout

block content
  // div(style="background: url('/images/background.jpg') bottom center no-repeat; background-size: cover;")
  .container.divbleu.main-block
    .row
      .col-sm-4.text-center
        .spacer10vh
        h1.textlightgrey Main title
        h3.textlightgrey Subtitle
      .col-sm-8
        .spacer10vh
          img.img-gif(src='/images/landing.png')
